body{
    margin: 0;
  
    font-family: 'Oswald', sans-serif;
}
section{
    height: 500px;
    padding-bottom:100px;
    
}
.header-area{
    height: 50px;
}
.header-area ul{
    list-style: none;
    margin-left: 800px;
}
.header-area ul li{
    float: left;
    padding: 10px 20px;
    font-weight: 700;
}
.header-area ul li a{
    text-decoration: none;
    color:black;
   
}

.half-width{
    float:left;
    width:40%;
    padding: 5%;
}
.half-width h1{
    font-size: 45px;
}
.span-style{
    color: rgb(88, 51, 13);
   
}
.half-width img{
    width: 100%;
}
.button{
    color: white;
    background-image: linear-gradient(180deg, orange,rgb(124, 47, 3));
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
}
.half-width p{
    font-size: 25px;
}


.project-area{
    background-color: rgb(252, 240, 240);
    height: 700px;
   
}
.project-area h2{
    padding:50px 0px;
    text-align: center;
    font-size: 35px;
    color: rgb(71, 104, 4);

}
.project-box{
   float:left;
   width: 25%;
   padding: 2%;
   margin-left: 40px;
   border-radius: 10px;
   background-color: white;
   box-shadow: 10px 20px 40px gray;
}
.project-box img{
    width: 100%;
}
.inquiry-area{
    margin: 0  auto;
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 50px 0;
}
.chat-area{
    background-image: url("shapes/chat.png");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    height: 250px;
    width: 60%;
    margin: auto;
       
}
.chat-area h1{
    padding: 70px 50px;
    float: left;
    color:white;
    font-size: 35px;
}
.chat-area a{
    margin-top: 110px;
    margin-left: 100px;
    display: inline-block;
}

.login-area{
    text-align: center;
    background-color: rgb(244, 249, 250);
    padding-top:80px;
    height: 300px;
    margin-bottom: 100px;
}

.login-area h2{
    font-size: 40px;
    margin-top: 0;
    color:rgb(27, 24, 247)
}
.login-area input{
    margin: 12px 0;
    border-radius: 8px;
    height: 30px;
}
.login-area button{
    padding: 10px 30px;
    background-image: linear-gradient(45deg,rgb(185, 67, 176),rgb(105, 105, 226));
    border:none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    color:rgb(1, 1, 7)
}
.login-area span{
    font-size: 30px;
}
.log-title{
    color: rgb(3, 25, 31);
    padding-right: 20px;
}
footer{
    text-align: center;
    margin-bottom: 50px;
}
footer h3{
    color: darkgray;
}
footer h2{
    color: rgb(37, 37, 39);
}
footer img{
    width: 40px;
    padding: 0 15px;
}